.img{
  background:none!important;
}

.App {
  text-align: left;
  background: url(./background.png) no-repeat !important;
  background-size: cover !important;
}

.App-title{
  text-align: left;
  margin-left:10%;
  font-size: 5vh;
  font-family:'SegoePrint';
  color: #774230;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}
@keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e4cd82, 0 0 40px #504111, 0 0 50px #504111, 0 0 60px #504111, 0 0 70px #504111;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #e4cd82, 0 0 50px #fff, 0 0 60px #504111, 0 0 70px #504111, 0 0 80px #504111;
  }
}

.App-header {
  text-align: left;
  margin-left:10%;
  font-size: 3vh;
  font-family:'StylusBT';
  color: #f4eacc;
  margin-top: -2%;
}

.App-body {
  padding-top:0px;  
  padding-left:20%;
}

.App-logo {
  text-align: left;
  margin-left:10%;
  height: 20vh;
  pointer-events: none;
  margin-bottom:-2%;
  margin-top:2%;
  display:inline-block;
}


.App-gitbooklogo{
  height:68px;
  /* width:68px; */
  display: inline-block;
  padding-top:20px;
  margin-bottom:-25px;
  margin-left:-25px;
}
.App-doc{
  display:inline-block;
  font-size: 25px;
  padding-left:15px;
  margin-left:auto;
  margin-right:15%;
}
.App-coinlogo{
  height: 30vmin;
  pointer-events: none;
  text-align: right;
  margin-right:auto;
  margin-left:7%;
  margin-top: 3%;
  display:inline-block;  
}

.App-button:hover{
  opacity: 0.8!important;
}
.App-button{
  min-height: 8vh;
  min-width: calc(300px + 2vmin);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(20px + 2vmin);  
  font-weight: 700;
}



.App-link {
  color: #61dafb;
}


