.App {
  text-align: left;
  background: url(./background_01.jpg) no-repeat !important;
  background-size: cover !important; 
  padding-bottom:70px; 
  /* padding-left:30%; */
}
.App-gitbooklogo{
  height:68px;
  /* width:68px; */
  display: inline-block;
  padding-top:20px;
  margin-bottom:-25px;
  margin-left:-25px;
}
.App-doc{
  display:inline-block;
  font-size: 25px;
  padding-left:15px;
  margin-left:auto;
  margin-right:15%;
}
.App-logo {
  height: 15vmin;
  pointer-events: none;
  text-align: right;
  margin-left:auto;
  margin-right:20%;
  margin-bottom:-3%;
  display:block;
}
.App-coinlogo{
  height: 20vmin;
  pointer-events: none;
  text-align: right;
  margin-right:auto;
  margin-left:7%;
  margin-top: 3%;
  display:inline-block;  
}
/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */
.App-button:hover{
  opacity: 0.8!important;
}
.App-button{
  min-height: 8vh;
  min-width: calc(300px + 2vmin);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(20px + 2vmin);  
  font-weight: 700;
}
.img{
  background:none!important;
}
.App-header {
  /* background-color: #282c34; */
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #332727;
  
}
.App-body {
  padding-top:0px;  
  padding-left:20%;
}

.App-title{
  text-align: right;
  margin-right:30%;
  padding-bottom:10%;
}
.App-comingsoon::before {
/*   content: ">>>>>>>";
  display: block;
  background-color: rgba(236, 0, 140, 0.6);
  width: 40px;
  height: 1px;
  position: absolute;
  left: 0;
  top: 50%; */
}
.countdown_day{
  margin-bottom: -25px;
  margin-left:-15px;
  margin-top:-5px;
  margin-right:20px;
  display:inline-block;
}
.countdown_day_desc{
  margin-bottom: -25px;
  margin-left:-15px;
  margin-top:-5px;  
  display:inline-block;
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.App-event{
  width: 40vmin;
  margin-top: 5%;
  margin-bottom: -22px;
  border-radius: 8px;
  transition: box-shadow 300ms;
  background-color: #d1ac49;
  background:rgba(255, 255,255, 0.5);
  display: block;
}
.App-eventbtn{
  border-radius: 8px;
  padding:0px 3px;
  min-width: 145px;
  min-height:5vh;
  box-sizing: border-box;
  font-weight: 800;
  line-height: 1.25;
  cursor: pointer;
  vertical-align: middle;
  margin-bottom:15px;
  margin-top: -10px;
  font-size: 1rem;
  margin-left: 5px;
  margin-right: 5px;
  box-shadow: 0 0 0 1px #163772 inset,0 0 0 1px rgba(255, 255, 255, 0.15) inset,0 2px 0 0      #333797,0 2px 0 1px rgba(0, 0, 0, 0.4),0 2px 2px 1px rgba(0, 0, 0, 0.5);
  background-color:#e7bf68;
}
.App-eventbtn:hover{
  opacity: 0.8!important;
}